<header class="navbar navbar-fixed-top" style="background-color: #012345;">
  <div class="container">
    <%= link_to "Senhri", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to current_user.friend_requests.length.to_s+" Notifications", notifications_path %></li>
          <li><%= link_to "Find Friends", users_path %></li>
          <li><%= link_to "Posts", posts_path %></li>
          <li><%= link_to "Friends", "/friends" %></li>
          <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log in", new_user_session_path %></li>
          <li><%= link_to 'Guest Login', users_guest_sign_in_path, method: :post %></li>
          <li><%= link_to 'Guest Admin Login', users_guest_admin_sign_in_path, method: :post %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
